
<head>
  <meta charset="utf-8">
  <title>Cat Index</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>
          <%= "Name: #{@cat.name}" %>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <%= "Color: #{@cat.color}" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= "Birth Date: #{@cat.birth_date}" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= "Sex: #{@cat.sex}" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= "Description: #{@cat.description}" %>
        </td>
      </tr>
    </tbody>
  </table>
</body>
